<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link href="/css/jquery.toast.min.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.toast.min.js"></script>
    <title>台車制御コマンダー</title>
  </head>
  <body>
    <div class="container">
      <a href="/serial?command=F" class="btn btn-primary" role="button">前に進む(F)</a>
      <a href="/serial?command=B" class="btn btn-secondary" role="button">後ろに下がる(B)</a>
      <a href="/serial?command=R" class="btn btn-success" role="button">右に曲がる(R)</a>
      <a href="/serial?command=L" class="btn btn-danger" role="button">左に曲がる(L)</a>
      <a href="/serial?command=C" class="btn btn-warning" role="button">止まる(C)</a>
      <a href="/serial?command=0" class="btn btn-info" role="button">閉める(0)</a>
      <a href="/serial?command=1" class="btn btn-light" role="button">1番を開ける(1)</a>
      <a href="/serial?command=2" class="btn btn-dark" role="button">2番を開ける(2)</a>
    </div>
  </body>
  <script>
    $(function(){
      $('a').click(function(event){
        console.log("OK")
        var url = $(this).attr("href");
        console.log(url)
        $.ajax({
          url: url,
          success: function(result){
            console.log(result)
          }
        });
        event.preventDefault();
      });
    });
  </script>
</html>